In [61]:
# Importing the useful librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.patches import Circle

In [28]:
#Reading train data [1.Customer data 2.Email data 3.Customer Retention Potential data 4.Transaction data]
data=[pd.read_excel('Customerdata_Train.xlsx'),pd.read_excel('Emaildata_Train.xlsx'),pd.read_excel('Train.xlsx'),pd.read_excel('transactionsdata_Train.xlsx')]

In [29]:
# Observing the shape of the train data files
for i in data:
    print(i.shape)

(23820, 7)
(517672, 6)
(23820, 2)
(104755, 4)

In [30]:
# Merging the train data files
data1=pd.merge(data[0],data[1],on='CustomerID')
data2=pd.merge(data[2],data1,on='CustomerID')
data=pd.merge(data[3],data2,on='CustomerID')

In [31]:
# Observing top 5 rows
data.head()

,CustomerID,DateOfOrder,timestamp_x,OrderQuantity,RetentionPotential,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,DateOfemail,EmailType,timestamp_y,MailOpened,MailClicked
0,C16368,2013-08-11,15:17:52,15,High,CITY2,2012-09-28,0,0,0,Monday,2012-09-28,WelcomeEmail,15:56:50,yes,NotApplicable
1,C16368,2013-08-11,15:17:52,15,High,CITY2,2012-09-28,0,0,0,Monday,2013-05-20,CustomizedEmail,15:10:30,yes,no
2,C16368,2013-08-11,15:17:52,15,High,CITY2,2012-09-28,0,0,0,Monday,2013-02-05,CustomizedEmail,13:54:22,yes,no
3,C16368,2013-08-11,15:17:52,15,High,CITY2,2012-09-28,0,0,0,Monday,2012-11-26,CustomizedEmail,11:22:32,yes,no
4,C16368,2013-08-11,15:17:52,15,High,CITY2,2012-09-28,0,0,0,Monday,2013-05-30,CustomizedEmail,14:04:42,yes,no

In [32]:
# Observing bottom 5 rows
data.tail()

,CustomerID,DateOfOrder,timestamp_x,OrderQuantity,RetentionPotential,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,DateOfemail,EmailType,timestamp_y,MailOpened,MailClicked
3883464,C36140,2018-01-21,21:12:52,53,Low,CITY3,2018-01-17,1,1,0,Saturday,2018-01-21,CustomizedEmail,16:17:16,no,no
3883465,C36140,2018-01-21,21:12:52,53,Low,CITY3,2018-01-17,1,1,0,Saturday,2018-01-20,CustomizedEmail,12:17:34,yes,yes
3883466,C36140,2018-01-21,21:12:52,53,Low,CITY3,2018-01-17,1,1,0,Saturday,2018-01-20,CustomizedEmail,16:31:18,yes,no
3883467,C36140,2018-01-21,21:12:52,53,Low,CITY3,2018-01-17,1,1,0,Saturday,2018-01-21,CustomizedEmail,14:23:16,yes,yes
3883468,C42003,2018-01-17,16:34:46,41,Low,CITY4,2018-01-17,1,0,0,Friday,2018-01-17,WelcomeEmail,13:45:06,yes,NotApplicable

In [33]:
# Observing the dimensions(Number of Rows & Columns) of the data
data.shape

(3883469, 16)

In [34]:
# Observing the total number of columns
data.columns

Index(['CustomerID', 'DateOfOrder', 'timestamp_x', 'OrderQuantity',
       'RetentionPotential', 'City', 'DateOfRegistration',
       'OnlineCommunication', 'AutomaticRefill', 'DoorstepDelivery',
       'PreferredDeliveryDay', 'DateOfemail', 'EmailType', 'timestamp_y',
       'MailOpened', 'MailClicked'],
      dtype='object')

In [35]:
# To observe the information about the Dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3883469 entries, 0 to 3883468
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   CustomerID            object
 1   DateOfOrder           object
 2   timestamp_x           object
 3   OrderQuantity         int64
 4   RetentionPotential    object
 5   City                  object
 6   DateOfRegistration    datetime64[ns]
 7   OnlineCommunication   int64
 8   AutomaticRefill       int64
 9   DoorstepDelivery      int64
 10  PreferredDeliveryDay  object
 11  DateOfemail           object
 12  EmailType             object
 13  timestamp_y           object
 14  MailOpened            object
 15  MailClicked           object
dtypes: datetime64[ns](1), int64(4), object(11)
memory usage: 503.7+ MB

In [36]:
# Observing the statistical description of the data.Here we can observe only numerical columns.
data.describe()

       OrderQuantity  OnlineCommunication  AutomaticRefill  DoorstepDelivery
count   3.883469e+06         3.883469e+06     3.883469e+06      3.883469e+06
mean    8.632433e+01         5.663995e-01     2.014161e-01      1.091537e-01
std     4.650906e+01         4.955716e-01     4.010582e-01      3.118320e-01
min     0.000000e+00         0.000000e+00     0.000000e+00      0.000000e+00
25%     5.500000e+01         0.000000e+00     0.000000e+00      0.000000e+00
50%     7.700000e+01         1.000000e+00     0.000000e+00      0.000000e+00
75%     1.060000e+02         1.000000e+00     0.000000e+00      0.000000e+00
max     1.501000e+03         1.000000e+00     1.000000e+00      1.000000e+00

In [295]:
#  Observing the statistical description of the data.
data.describe(include='all')

/usr/share/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,CustomerID,DateOfOrder,timestamp_x,OrderQuantity,RetentionPotential,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,DateOfemail,EmailType,timestamp_y,MailOpened,MailClicked
count,3883469,3883469,3883469,3.883469e+06,3883469,3883469,3883469,3.883469e+06,3.883469e+06,3.883469e+06,3883469,3883469,3883469,3883469,3883469,3883469
unique,23820,3151,21399,NaN,3,4,2673,NaN,NaN,NaN,7,3382,2,14369,2,3
top,C33945,2014-01-19,11:34:52,NaN,Low,CITY2,2012-08-28 00:00:00,NaN,NaN,NaN,Monday,2013-10-27,CustomizedEmail,15:10:30,no,no
freq,20240,10315,617,NaN,3781183,1861389,68032,NaN,NaN,NaN,1134781,7458,3778714,977,2511192,3481233
first,NaN,NaN,NaN,NaN,NaN,NaN,2008-06-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,8.632433e+01,NaN,NaN,NaN,5.663995e-01,2.014161e-01,1.091537e-01,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,4.650906e+01,NaN,NaN,NaN,4.955716e-01,4.010582e-01,3.118320e-01,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,5.500000e+01,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,7.700000e+01,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,1.060000e+02,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,1.501000e+03,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN

In [296]:
## Data Preprocessing

In [297]:
# It shows the is there any duplicate values
data.duplicated().sum()

0

In [298]:
# It shows the how many unique values
data.nunique()

CustomerID              23820
DateOfOrder              3151
timestamp_x             21399
OrderQuantity             451
RetentionPotential          3
City                        4
DateOfRegistration       2673
OnlineCommunication         2
AutomaticRefill             2
DoorstepDelivery            2
PreferredDeliveryDay        7
DateOfemail              3382
EmailType                   2
timestamp_y             14369
MailOpened                  2
MailClicked                 3
dtype: int64

In [299]:
# It shows presence of null values in data
data.isnull().sum()

CustomerID              0
DateOfOrder             0
timestamp_x             0
OrderQuantity           0
RetentionPotential      0
City                    0
DateOfRegistration      0
OnlineCommunication     0
AutomaticRefill         0
DoorstepDelivery        0
PreferredDeliveryDay    0
DateOfemail             0
EmailType               0
timestamp_y             0
MailOpened              0
MailClicked             0
dtype: int64

In [300]:
# It shows the datatype of columns
data.dtypes

CustomerID                      object
DateOfOrder                     object
timestamp_x                     object
OrderQuantity                    int64
RetentionPotential              object
City                            object
DateOfRegistration      datetime64[ns]
OnlineCommunication              int64
AutomaticRefill                  int64
DoorstepDelivery                 int64
PreferredDeliveryDay            object
DateOfemail                     object
EmailType                       object
timestamp_y                     object
MailOpened                      object
MailClicked                     object
dtype: object

In [301]:
data.drop(['CustomerID'],axis=1,inplace=True)

In [ ]:
# EmailType Column consist of same mails(welcome mail),so cannot get any insights from the emailtype.
# data.drop(['EmailType'],axis=1,inplace=True)

In [304]:
# Converting object datatype to categorical 
categorical = [var for var in data.columns if data[var].dtypes!='int64']
data[categorical] = data[categorical].astype('category')
categorical

['DateOfOrder',
 'timestamp_x',
 'RetentionPotential',
 'City',
 'DateOfRegistration',
 'PreferredDeliveryDay',
 'DateOfemail',
 'EmailType',
 'timestamp_y',
 'MailOpened',
 'MailClicked']

In [305]:
# Observing whether the dtype of columns converted to object to category or not
data[categorical].dtypes

DateOfOrder             category
timestamp_x             category
RetentionPotential      category
City                    category
DateOfRegistration      category
PreferredDeliveryDay    category
DateOfemail             category
EmailType               category
timestamp_y             category
MailOpened              category
MailClicked             category
dtype: object

In [306]:
# Listing the numeric attributes in dataframe
num_att= [var for var in data.columns if data[var].dtype=='int64']
num_att

['OrderQuantity', 'OnlineCommunication', 'AutomaticRefill', 'DoorstepDelivery']

In [307]:
# StandardScaler to standardize the numerical columns

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
num=scaler.fit_transform(data[num_att])

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'

In [ ]:
# Using OneHotEncoder standardize categorical variables 
from sklearn.preprocessing import OneHotEncoder